{% extends "layout.html" %}

{% block content %}

<center>
  <h1>About Us</h1>
  
  We created this site in our CPSC 350 class in college. As you may know, college is a time where<br/>
  you often feel like you're starving to death due to the lack of quality food. Because of this</br>
  we decided it was time to create a site that would help solve this problem. Our site contains</br>
  thousands of recipes with short ingredient lists, intended to help the typical broke college</br>
  student survive the daily grind. We hope you enjoy it!

<br/><br/><br/>

<img src="http://images.bbonline.com/original/2/0/0/7/1/5/9/pix3.jpg" alt="breakfast" height="307" width="360"> 

</center>

{% endblock %}
