{% extends "layout.html" %}

{% block content %}
<center>
<h3>Enter Your Information</h3>
<form method = "post" action = '/confirm'>
  <table>
    <tr>
      <td><label for = 'name'>Name:</label></td>
      <td><input type = 'text' id = 'name' name = 'name'></td>
    </tr>  
    <tr>
      <td><label for = 'password'>Password:</label></td>
      <td><input type = 'password' id = 'password' name = 'password'></td>
    </tr>
    <tr>
      <td><label for = 'password con'>Confirm Password:</label></td>
      <td><input type = 'password' id = 'password con' name = 'password con'></td>
    </tr>
    </table>
    <p></p>
    <input type="submit" value="Register" name="submit" />
</form>
</center>
{% endblock %}