<!DOCTYPE HTML>
<html>
<head> 
<style type="text/css"> 
<!-- 
 
 #navbar ul { 
	margin: 0; 
	padding: 10px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #FF7519 
	}
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #FF7519; 
  font-family:"Verdana";
	}
 
#navbar ul li a:hover { 
	color: #000; 
	background-color: #fff; 
	} 
 
--> 
</style> 
</head> 
  
<body>
  <title>Daily Ramen</title>
  <br/>
  <header>
  <h1><font face="verdana" size="20" color="#FF7519">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daily Ramen</font>
  
    <span><font face="verdana" size="4" color="#FF7519">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login">Login</a></font>
    <font face="verdana" size="4" color="#FF7519">|</font>
      <font face="verdana" size="4" color="#FF7519"><a href="/createAccount">Register</a></font></span>
  </h1>  
  </header>
  
  <div id="navbar"> 
  <ul> 
    <li><a href="/">Home</a></li> 
    <li><a href="/underConstruction">My Ramen</a></li> 
    <li><a href="/search">Recipes</a></li> 
    <li><a href="/createAccount">Join</a></li> 
    <li><a href="/login">Log In</a></li>
    <li><form action="search" method = 'post'>
            <input type="text" name="searchword">
            <input type="submit" value="Search">
      </form></li>
  </ul> 
  </div> 
  
  <br/><br/>
      <div id="content">
         {% block content %}{% endblock %}
      </div>  
    
  
  <br/><br/><br/>
  
  <center><div style="background-color:#E0E0FF;width:1250px;height:50px;border:2px solid #E0E0FF"></div></center>
</body>
</html>