{% extends "layout.html" %}

{% block content %}

  <script>
    // <!--code borrowed heavily from http://stackoverflow.com/questions/12673596/adding-a-text-field-with-click-of-a-button-with-javascript-all-content-except-t -->

	function adding() {
    
    //This part borrowed from http://stackoverflow.com/questions/1535631/static-variables-in-javascript
     if ( typeof adding.counter == 'undefined' ) {
        // It has not... perform the initialization
        adding.counter = 2;
      }
    var form = document.getElementById('recSub'),
	  input = document.createElement('input'),
		brk = document.createElement('br');

    input.setAttribute('name','i'+adding.counter);//Gives each text element its own unique id
    adding.counter++;
    form.insertBefore(input,document.getElementById('more'));
		form.insertBefore(brk,document.getElementById('more'));
	};

  </script>
  <center>
  <form name = "rec" method="POST" id = 'recSub' action="/submitRecipe">
    <p>
    <label for="title">Recipe Name:</label>
    <input type="text" id="title" name="title" size="40"> </p>
    
    <label for="ingredient">Ingredients (please do not include quantities):</label><br>
      <input type="text" id="ingredient1" name="i1" size="20" /><br>
      <button type = 'button' id = 'more' onclick = 'adding()'>Add Ingredient</button>
      <p></p>

    <textarea cols="60" rows="10" name="directions">How do you prepare the dish? (List quantities here)</textarea><br/><br/>
  <input type = 'submit' value = 'Submit'>
    
  </form>
</center>

{% endblock %}